@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .single-testimonial i.fa {
        font-size: 50px;
    }
}


/* Tablet Layout */

@media only screen and (max-width: 991px) {
    .mb-sm {
        margin-bottom: 30px;
    }
    .blog-content .single-post h3 {
        margin-top: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav li a {
        padding: 15px 5px;
    }

    .service-box,
    .team-member,
    .price-item,
    .single-news,
    .about-text,
    .our-clients {
        margin-bottom: 30px;
    }

    .portfolio-caption h4 {
        margin-top: 80px;
    }
    .single-testimonial i.fa {
        font-size: 40px;
    }

    .action-area .btn {
        margin-top: 15px;
    }

    .tab-margin-bottom {
        margin-bottom: 30px;
    }

    .tmail, .tphone {
        margin-right: 15px;
    }

    .sm-no-border {
        border: none;
    }
    .accordion {
        margin-top: 30px;
    }
    .owl-pagination {
        width: 130px;
    }
    .ft-widget {
        margin-bottom: 30px;
    }

}


/* Mobile Layout */

@media only screen and (max-width: 767px) {
    .xs-no-border {
        border: none;
    }

    body, p {
        line-height: 25px;
    }

    .top-bar {
        height: 100px;
    }

    .tmail, .tphone, .tsocial {
        line-height: 25px;
        width: 100%;
        text-align: center;
    }

    .section-big {
        padding: 50px 0px;
    }
    
    .single-testimonial i.fa,
    .section-title {
        margin-bottom: 50px;
    }
    .section-title h2 {
        line-height: 30px;
    }

    .btn, input[type='submit'] {
        margin-bottom: 0px;
        padding: 8px 20px;
    }
    img {
        max-width: 100%;
    }
    .mainmenu {
        padding-top: 10px;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        position: relative;
        z-index: 99999999;
        background: #fff;
        margin: auto -15px;
        padding: 15px;
        box-shadow: 0 1px 5px 0px #ddd;
        height: 160px;
    }

    .navbar-toggle {
        margin-right: 0px;
        margin-top: 50px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        background: #fff;
    }
    .navbar {
        min-height: 0px;
    }
    .mainmenu .navbar-nav {
        margin: 0;
    }
    .mainmenu .navbar-nav li {
        float: none;
        display: block;
    }
    .mainmenu .navbar-nav li a {
        padding: 11px 15px;
        color: inherit;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        margin: 0 -15px;
        padding: 0;
        box-shadow: 0px 3px 5px 0px #999;
    }
    .navbar-toggle {}
    a.about-button {
        margin-top: 0;
    }

    .about-text,
    .service-box,
    .our-clients {
        margin-bottom: 30px;
    }

    /* service area */
    .home-services .service-box {
        padding: 0px;
    }

    /* Portfolio area */
    .work-items .item {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
    }

    .price-item ,
    .team-member,
    .single-news {
        margin-bottom: 30px;
    }

    .filters li {
        margin: 0px 10px;
    }

    .single-testimonial {
        padding: 20px 30px;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .contact-info,
    .video-area .accordion {
        margin-top: 30px;
    }

    .action-area .btn {
        margin-top: 15px;
    }

    .price-item p.level {
        margin-bottom: 60px;
    }
    .price-item p.price {
        padding-bottom: 20px;
    }
    .price-item a.btn {
        display: inline-block;
    }
    .fun-fact-area {
        margin-top: 50px;
    }
    .fun-fact {
        margin-bottom: 50px;
    }

    .service-area .section-title {
        margin-top: 0px;
    }
    .accordion {
        margin-top: 30px;
    }
    .owl-pagination {
        width: 130px;
    }
    .ft-widget {
        margin-bottom: 30px;
    }
    .blog-content.section-big {
        padding: 50px 15px;
    }
    
}


/* Small Mobile Layout */

@media only screen and (max-width: 480px) {
    .single-testimonial img {
        width: 100%;
        margin: 0px;
        margin-bottom: 15px;
    }
    .single-testimonial i.fa {
        margin-bottom: 15px;
    }
    .col-xxs-12 {
        width: 100%;
    }
    .fun-fact {
        border: none;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .f-w-tab .nav li {
        width: 23%;
        margin: 0 1px;
    }

/* max-width: 480px */
}